DATABASE_URL=
DIRECT_URL=

AUTH_SECRET=
AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=
EMAIL_FROM=

UPLOADTHING_TOKEN=

NEXT_PUBLIC_APP_URL=http://localhost:3000

CRON_SECRET=